body {
  background-color: #ffffff;
  font-family: serif;
  font-size: 30px;
  height: 500px;
  width: 800px;
}

.quoteArea {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.quote {
  font-size: 2rem;
  display: block;
  text-align: left;
}

.title {
  font-size: 5rem;
  font: small-caps;
  color: #000000;
  padding: 0px;
  background-color: rgba(255, 255, 255);
  display: block;
  text-align: center;
}

.author {
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  text-align: right;
}

.source {
  font-style: italic;
  font-size: 1.5rem;
  display: block;
  text-align: right;
}

footer {
  padding-top: 10px;
  bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
  display: block;
}

